.App {
  text-align: center;
  background-color: #eee;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
  text-align: left;
}

.App-title {
  font-size: 1.5em;
  text-align: left;
  display: inline-block;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navbar-links {
  display: inline-block;
  float: right;
}

.nav-item {
  padding: 0 10px;
}

.nav-item a {
  color: white;
}

img {
  margin: 0 0 10px 0;
}

.App-ol {
  text-align: left;
}

.taxonContainer {
  float: left;
  font: 14px/17px;
}

.crop {
  height: 210px;
  width: 210px;
  overflow: hidden;
}

.crop img {
  height: 210px;
  width: 210px;
  object-fit: cover;
}

.crop-center {
  height: 300px;
  width: 300px;
  overflow: hidden;
  margin: 0 auto;
}

.crop-center img {
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.taxon-text {
  font-size: 14px;
  width: 210px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.taxon-square {
  background-color: #fff;
  margin: 5px;
  position: relative;
}

.taxon-info {
  text-align: left;
  position: absolute;
  bottom: 64px;
  background-color: rgba(0,0,0,0.3);
  color: white;
  padding: 5px 9px;
  width: 100%;
}

.taxon-info a {
  color: white;
}

.taxon-names {
  padding: 10px 9px;
}

.taxon-names a {
  color: black;
  text-decoration: none;
}

.common-name {
  text-transform: capitalize;
  font-weight: bold;
}

.latin-name {
  font-style: italic;
  color: #333;
}

.copyright-info {
  position: relative;
  float: right;
}

.white-bg {
  background-color: #fff;
}

.dark-grey-bg {
  background-color: #222;
  color: #eee;
}

.Iconic-taxa-name {
  text-transform: capitalize;
}
