.App {
  text-align: center;
  background-color: #1B1D22;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #1E2026;
  height: 70px;
  padding: 20px;
  color: white;
  text-align: left;
}

.App-title {
  font-size: 1.5em;
  text-align: left;
  display: inline-block;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navbar-links {
  display: inline-block;
  float: right;
}

.nav-item {
  padding: 0 10px;
}

.nav-item a, .navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-dark .navbar-text .dropdown-item a {
  color: #1E2026;
}

.btn-link {
  color: white;
}

.btn-link:hover {
  color: white;
}

img {
  margin: 0 0 10px 0;
}

.App-ol {
  text-align: left;
}

.loader, .col {
  color: white;
}

.taxonContainer {
  float: left;
  font: 14px/17px;
}

.crop {
  height: 165px;
  width: 165px;
  overflow: hidden;
}

.crop img {
  height: 165px;
  width: 165px;
  object-fit: cover;
}

.crop-center {
  height: 300px;
  width: 300px;
  overflow: hidden;
  margin: 0 auto;
}

.crop-center img {
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.taxon-text {
  font-size: 14px;
  width: 165px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.taxon-square {
  background-color: #17181C;
  margin: 5px;
  position: relative;
  clear: both;
}

.taxon-info {
  text-align: left;
  position: absolute;
  bottom: 64px;
  background-color: rgba(0,0,0,0.3);
  color: white;
  padding: 5px 9px;
  width: 100%;
}

.taxon-info a {
  color: white;
}

.taxon-names {
  padding: 10px 9px;
}

.taxon-names a {
  color: #E8E7E3;
  text-decoration: none;
}

.common-name {
  text-transform: capitalize;
  font-weight: bold;
}

.latin-name {
  font-style: italic;
  color: #D5D2CD;
}

.copyright-info {
  position: relative;
  float: right;
}

.light-grey-bg {
  background-color: #17181C;
  color: #D9D7D3;
}

.dark-grey-bg {
  background-color: #1E2026;
  color: #EFEFED;
}

.Iconic-taxa-name {
  text-transform: capitalize;
}

.clear {
  clear: both;
}

.spinner {
  padding: 30px;
  margin: 30px;
}

.extra-padding-top {
  padding-top: 15px;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.no-padding-right {
  padding-right: 0;
}

.trimText{
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.autocomplete-exclude-matches {
  border-left: solid 1px gray;
  line-height: 40px;
  margin: auto;
}

@media (min-width: 768px) {
  .crop {
    height: 210px;
    width: 210px;
    overflow: hidden;
  }

  .crop img {
    height: 210px;
    width: 210px;
    object-fit: cover;
  }

  .taxon-text {
    font-size: 14px;
    width: 210px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
  }
}
